@font-face {
    font-family: 'Digital-7';
    src: url('./fonts/digital-7.ttf') format('truetype');
  }
  
  body {
    font-family: 'Arial', sans-serif; /* Cambia 'Arial' por la fuente que prefieras */
  }
  
  .digital-font {
    font-family: 'Digital-7', sans-serif;
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities {
    @keyframes slide-in {
      from {
        transform: translateX(100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
    
    .animate-slide-in {
      animation: slide-in 0.3s ease-out;
    }
  }