@font-face {
    font-family: 'Digital-7';
    src: url('./fonts/digital-7.ttf') format('truetype');
  }
  
  body {
    font-family: 'Arial', sans-serif; /* Cambia 'Arial' por la fuente que prefieras */
  }
  
  .digital-font {
    font-family: 'Digital-7', sans-serif;
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;